@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <h1 class="display-3 text-success">Edu Room</h1>
    <p>Make the world a better and safer place. <b>Education for all</b>.</p>
</div>
