@model ClassroomV2.Web.Models.Classroom.LoadClassroom
@{
    ViewData["Title"] = "Classroom";
}
<div class="row">

    <partial name="_MenuPartial" />
    <div class="col-md-9">
        <h3>@Model.ClassroomName</h3>
    </div>

</div>

