
@{
    ViewData["Title"] = "Index";
}



<a type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Classroom" asp-action="CreateClassroom">Create Classroom</a>
<button type="button" class="btn btn-outline-secondary">Join Classroom </button>

