@model ClassroomV2.Web.Models.Classroom.LoadClassroom
@{
    ViewData["Title"] = "People";
}
@section Scripts{
    <script>
        $(function () {
            $('#teachers').DataTable({
                "processing": true,
                "serverSide": true,
                "searching": false,
                "paging": false,
                "bInfo": false,
                "ajax": {
                    "url": "/Classroom/GetTeachers/?id=@Model.ClassroomId",
                },
                "columnDefs": [{
                    "orderable": false,
                    "targets": 1,
                    "render": function (data, type, row) {
                        return `
    <a type="button" class="btn btn-outline-info" href="/Classroom/SendEmail/?email=${data}&classId=@Model.ClassroomId" target="_blank" >
        Send Mail
    </a>`;
                    }
                }
                ]
            });
        });
        $(function () {
            $('#students').DataTable({
                "processing": true,
                "serverSide": true,
                "searching": false,
                "paging": false,
                "bInfo": false,
                "ajax": {
                    "url": "/Classroom/GetStudents/?id=@Model.ClassroomId",
                },
                "columnDefs": [{
                    "orderable": false,
                    "targets": 1,
                    "render": function (data, type, row) {
                        return `
    <a type="button" class="btn btn-outline-info" href="/Classroom/SendEmail/?email=${data}&classId=@Model.ClassroomId" target="_blank" >
        Send Mail
    </a>`;
                    }
                }
                ]
            });
        });
    </script>
}

<div class="row">

    <partial name="_MenuPartial" />
    <div class="col-md-9">
        <h3>@Model.ClassroomName</h3>
        <hr />
        <h4>Teacher</h4>
        <table id="teachers" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>

        </table>
        @{
            if (Model.IsTeacher)
            {
                <form asp-controller="Classroom" asp-action="AddTeacher" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="mb-3 col-md-7">
                            <input asp-for="TeacherEmail" type="email" class="form-control" id="exampleFormControlInput2" placeholder="teacher@juniv.edu" required>
                            <input type="hidden" asp-for="ClassroomId" />
                            <input type="hidden" asp-for="ClassroomName" />
                        </div>
                        <div>
                            <button type="submit" class="btn btn-outline-success">Add Teacher </button>
                        </div>
                    </div>
                </form>
            }
        }
        <hr />
        <h4>Student</h4>
        <table id="students" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>

        </table>
        @{
            if (Model.IsTeacher)
            {
                <form asp-controller="Classroom" asp-action="AddStudent" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="mb-3 col-md-7">
                            <input required asp-for="StudentEmail" type="email" class="form-control" id="exampleFormControlInput1" placeholder="student@gmail.com">
                            <input type="hidden" asp-for="ClassroomId" />
                            <input type="hidden" asp-for="ClassroomName" />
                        </div>
                        <div>
                            <button type="submit" class="btn btn-outline-success">Add Student </button>
                        </div>
                    </div>
                </form>
            }
        }
    </div>

</div>

