@model ClassroomV2.Web.Models.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "ConfirmEmail";
}

<h3>Email Confirmation Page</h3>
<br />
<h4>@Model.StatusMessage</h4>
<br />
@{       if (!Model.IsSuccess)
            {
                <a asp-action="Register" asp-controller="Account">Create New Account</a>
            }
            else
            {
                <a asp-action="Index" asp-controller="Group">Go to Dashboard</a>
            }
}

